# This file is used to define owners for certain files in the repository.
# GitHub will automatically request review from these owners when matching files are modified.

# Require @Himesh-29 to review any changes to GitHub Actions workflows
.github/workflows/* @Himesh-29
